.contenedor-planes,
.contenedor-actividades,
.contenedor-productos {
  background-color: rgba(255, 255, 255, 0.9); /* Blanco semi-transparente */
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo-seccion {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
}

.carrusel-planes, .carrusel-productos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.plan, .producto, .actividad {
  text-align: center;
  padding: 1rem;
}

.img-plan, .producto img, .actividad img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.grid-actividades {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-inscribir {
  background-color: #d62828;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.filtro {
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.filtro.activo {
  background-color: #d62828;
  color: white;
}
