{% extends 'punto_app/base_admin.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <h1>Cursos e inscripciones</h1>

  <!-- Cursos -->
  <section name="seccion-cursos">
    <h2>Cursos</h2>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Cupos</th>
          <th>Fecha de realización</th>
          <th>Estado</th>
          <th>Establecimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for curso in cursos %}
        <tr data-id="{{ curso.id }}">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.cupos }}</td>
          <td>{{ curso.fecha_realizacion }}</td>
          <td>{{ curso.estado }}</td>
          <td>{{ curso.establecimiento }}</td>
          <td>
            <button class="filtro-btn" name="btn-editar-curso" data-id="{{ curso.id }}">Actualizar</button>
            <button class="filtro-btn" name="btn-eliminar-curso" data-id="{{ curso.id }}">Eliminar</button>
          </td>
        </tr>
        
        <!-- Formulario de edición -->
        <tr id="form-editar-curso-{{ curso.id }}" class="form-edicion-curso" style="display: none;">
          <td colspan="5">

            <h3>Actualizar datos</h3>
            <form class="formulario" name="form-editar-curso" data-id="{{ curso.id }}">
              {% csrf_token %}
              
              <label class="form-label" for="curso-nombre">Nombre:</label>
              <input class="form-input" type="text" name="curso-nombre" value="{{ curso.nombre }}" required>
            
              <label class="form-label" for="curso-cupos">Cupos:</label>
              <input class="form-input" type="number" name="curso-cupos" min="0" required>
            
              <label class="form-label" for="curso-fecha_realizacion">Fecha:</label>
              <input class="form-input" type="date" name="curso-fecha_realizacion" value="{{ curso.fecha }}" required>
            
              <label class="form-label" for="curso-estado">Estado:</label>
              <select id="curso-estado" name="curso-estado" required>
                <option value="" selected disabled>Seleccione</option>
                <option value="activo">Activo</option>
                <option value="cancelado">Cancelado</option>
              </select>
            
              <label class="form-label" for="curso-establecimiento">Establecimiento:</label>
              <select id="curso-establecimiento" name="curso-establecimiento" required>
                <option value="" selected disabled>Seleccione</option>
                {% for establecimiento in establecimientos %}
                <option value="{{ establecimiento.id }}">{{ establecimiento.nombre }}</option>
                {% endfor %}
              </select>
              
              <button class="filtro-btn" type="submit">Guardar</button>
              <button class="filtro-btn" type="button" onclick="ocultarFormularioEdicion('{{ curso.id }}', 'curso')">Cancelar</button>
            </form>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No hay cursos.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Formulario de creación -->
    <h3>Agregar</h3>
    <form class="formulario" id="form-crear-curso">
      {% csrf_token %}
      
      <label class="form-label" for="curso-nombre">Nombre:</label>
      <input class="form-input" type="text" id="curso-nombre" name="curso-nombre" maxlength="30" required>
    
      <label class="form-label" for="curso-cupos">Cupos:</label>
      <input class="form-input" type="number" id="curso-cupos" name="curso-cupos" min="0" required>
    
      <label class="form-label" for="curso-fecha_realizacion">Fecha:</label>
      <input class="form-input" type="date" id="curso-fecha_realizacion" name="curso-fecha_realizacion" required>
    
      <label class="form-label" for="curso-estado">Estado:</label>
      <select id="curso-estado" name="curso-estado" required>
        <option value="" selected disabled>Seleccione</option>
        <option value="activo">Activo</option>
        <option value="cancelado">Cancelado</option>
      </select>
    
      <label class="form-label" for="curso-establecimiento">Establecimiento:</label>
      <select id="curso-establecimiento" name="curso-establecimiento" required>
        <option value="" selected disabled>Seleccione</option>
        {% for establecimiento in establecimientos %}
        <option value="{{ establecimiento.id }}">{{ establecimiento.nombre }}</option>
        {% endfor %}
      </select>

      <button class="filtro-btn" type="submit">Agregar curso</button>
    </form>
  </section>

  <!-- Inscripciones -->
  <section name="seccion-inscripciones">
    <h2>Inscripciones</h2>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Curso</th>
          <th>Fecha inscripción</th>
          <th>Fecha realizacion del curso al momento de inscribir</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for inscripcion in inscripciones %}
        <tr data-id="{{ inscripcion.id }}">
          <td>{{ inscripcion.usuario }}</td>
          <td>{{ inscripcion.curso }}</td>
          <td>{{ inscripcion.fecha_inscripcion }}</td>
          <td>{{ inscripcion.fecha_realizacion }}</td>
          <td>
            <button class="filtro-btn" name="btn-editar-inscripcion" data-id="{{ inscripcion.id }}">Actualizar</button>
            <button class="filtro-btn" name="btn-eliminar-inscripcion" data-id="{{ inscripcion.id }}">Eliminar</button>
          </td>
        </tr>
        
        <!-- Formulario de edición -->
        <tr id="form-editar-inscripcion-{{ inscripcion.id }}" class="form-edicion-inscripcion" style="display: none;">
          <td colspan="5">

            <h3>Actualizar datos</h3>
            <form class="formulario" name="form-editar-inscripcion" data-id="{{ inscripcion.id }}">
              {% csrf_token %}
              
              <label class="form-label" for="inscripcion-curso">Curso:</label>
              <select name="inscripcion-curso" required>
                <option value="" selected disabled>Seleccione</option>
                {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.nombre }}</option>
                {% endfor %}
              </select>
            
              <label class="form-label" for="inscripcion-usuario">Usuario:</label>
              <select name="inscripcion-usuario" required>
                <option value="" selected disabled>Seleccione</option>
                {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                {% endfor %}
              </select>
            
              <label class="form-label" for="inscripcion-fecha_inscripcion">Fecha:</label>
              <input class="form-input" type="date" name="inscripcion-fecha_inscripcion" value="{{ inscripcion.fecha }}" required>
              
              <button class="filtro-btn" type="submit">Guardar</button>
              <button class="filtro-btn" type="button" onclick="ocultarFormularioEdicion('{{ inscripcion.id }}', 'inscripcion')">Cancelar</button>
            </form>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No hay inscripciones.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Formulario de creación -->
    <h3>Agregar</h3>
    <form class="formulario" id="form-crear-inscripcion">
      {% csrf_token %}
      
      <label class="form-label" for="inscripcion-curso">Curso:</label>
      <select id="inscripcion-curso" name="inscripcion-curso" required>
        <option value="" selected disabled>Seleccione</option>
        {% for curso in cursos %}
        <option value="{{ curso.id }}">{{ curso.nombre }}</option>
        {% endfor %}
      </select>
    
      <label class="form-label" for="inscripcion-usuario">Usuario:</label>
      <select id="inscripcion-usuario" name="inscripcion-usuario" required>
        <option value="" selected disabled>Seleccione</option>
        {% for usuario in usuarios %}
        <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
        {% endfor %}
      </select>
    
      <label class="form-label" for="inscripcion-fecha_inscripcion">Fecha:</label>
      <input class="form-input" type="date" id="inscripcion-fecha_inscripcion" name="inscripcion-fecha_inscripcion" value="{{ inscripcion.fecha }}" required>

      <button class="filtro-btn" type="submit">Agregar inscripción</button>
    </form>
  </section>

</div>

{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/cursos.js' %}"></script>
{% endblock %}