{% extends 'punto_app/base_admin.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  
  <h1>Máquinas</h1>

  <!-- Máquinas -->
  <section name="seccion-maquinas">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for maquina in maquinas %}
        <tr data-id="{{ maquina.id }}">
          <td>{{ maquina.nombre }}</td>
          <td>{{ maquina.descripcion }}</td>
          <td>
            <button class="filtro-btn" name="btn-editar-maquina" data-id="{{ maquina.id }}">Actualizar</button>
            <button class="filtro-btn" name="btn-eliminar-maquina" data-id="{{ maquina.id }}">Eliminar</button>
          </td>
        </tr>
        
        <!-- Formulario de edición -->
        <tr id="form-editar-maquina-{{ maquina.id }}" class="form-edicion-maquina" style="display: none;">
          <td colspan="5">

            <h3>Actualizar datos</h3>
            <form class="formulario" name="form-editar-maquina" data-id="{{ maquina.id }}">
              {% csrf_token %}
              
              <label class="form-label" for="maquina-nombre">Nombre:</label>
              <input class="form-input" type="text" name="maquina-nombre" value="{{ maquina.nombre }}" required>
            
              <label class="form-label" for="maquina-descripcion">Descripción:</label>
              <input class="form-input" type="text" name="maquina-descripcion" value="{{ maquina.descripcion }}" required>
              
              <button class="filtro-btn" type="submit">Guardar</button>
              <button class="filtro-btn" type="button" onclick="ocultarFormularioEdicion('{{ maquina.id }}')">Cancelar</button>
            </form>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No hay máquinas.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Formulario de creación -->
    <h3>Agregar</h3>
    <form class="formulario" id="form-crear-maquina">
      {% csrf_token %}
      
      <label class="form-label" for="maquina-nombre">Nombre:</label>
      <input class="form-input" type="text" id="maquina-nombre" name="maquina-nombre" maxlength="30" required>
    
      <label class="form-label" for="maquina-descripcion">Descripción:</label>
      <input class="form-input" type="text" id="maquina-descripcion" name="maquina-descripcion" maxlength="50" required>

      <button class="filtro-btn" type="submit">Agregar máquina</button>
    </form>
  </section>

</div>
{% endblock %}

{% block extra_scripts %}
<script src="../../static/js/maquinas.js"></script>
{% endblock %}