{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto Fitness admin</title>

  <!-- Estilos base -->
  <link rel="stylesheet" href="{% static 'css/base_admin.css' %}">
  <link rel="stylesheet" href="{% static 'css/cuenta.css' %}">

  {% block extra_head %}{% endblock %}
</head>

<body>
  <!-- Menú Superior -->
  <header>
    <div class="logo">Punto Fitness</div>
    <nav>
      <ul>
        <li><a href="{% url 'asistencias' %}">Asistencia</a></li>
        <li><a href="{% url 'cursos' %}">Cursos</a></li>
        <li><a href="{% url 'pagina_admin' %}">Estadísticas</a></li>
        <li><a href="{% url 'inventario' %}">Inventario</a></li>
        <li><a href="{% url 'maquinas-admin' %}">Maquinas</a></li>
        <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
        <li><a href="{% url 'principal' %}" target="_blank">Web</a></li>
        <li>
          <a href="#" id="cuentaBtn" style="display: none;">Hola, {{ cliente_nombre|default:"Usuario" }}</a>
          <a href="#" id="usuarioBtn">Usuario</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Contenido dinámico -->
  <main>
    {% block content %}
    {% endblock %}
  </main>


  <!-- Modal Cuenta Usuario -->
  <div id="userModal" class="modal hidden">
    <div class="modal-content">
      <span class="close" id="closeUserModal">&times;</span>
      <div class="form-container">
        <h1>Mi Cuenta</h1>
        <p><strong>Nombre:</strong> {{cliente_nombre}}</p>
        <p><strong>Correo:</strong> {{cliente_email}}</p>
        <p><strong>Teléfono:</strong> {{cliente_telefono}}</p>
        <p><strong>Rol:</strong> {{nivel_acceso|default:"Cliente"}}</p>
        <div class="admin-buttons" style="display: none;">
          <a href="{% url 'super_admin' %}" class="admin-btn superadmin-btn" style="display: none;">Panel Super Admin</a>
          <a href="{% url 'pagina_admin' %}" class="admin-btn admin-btn" style="display: none;">Panel Admin</a>
        </div>
        <a href="{% url 'logout' %}" id="cerrarSesionBtn">Cerrar Sesión</a>
      </div>
    </div>
  </div>

  <!-- Scripts base -->
  <script src="{% static 'js/cuenta.js' %}"></script>
  <script src="{% static 'js/signIn-Up.js' %}"></script>
  <script src="{% static 'js/session_check.js' %}"></script>

  {% block extra_scripts %}{% endblock %}
</body>

</html>